header{
  width: 100%;
  padding: 0;
  margin: 0;
}
#header-wrapper{
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0  auto;
  min-height: 100px;
  justify-content: space-between;
  max-width: 920px;
  padding: 0 40px;
  width: 100%;
}
.logo{
  width: 30%;
  float: left;
  position: relative;
}
.logo h1{
  color: #fafafa;
  filter: none!important;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Roboto', Arial, sans-serif;
  padding: 0;
  margin: 0;
}
.menu ul, li{
  display:inline-block;
  margin: 0;
  padding: 0;
}
.menu{
  width:70%;
  float:right;
  text-align:right;
  margin: 0;
  padding: 0;
}
.menu li a{
  color:#fafafa;
  font-size: 16px;
  line-height: 1.75rem;
  text-decoration: none;
  margin-right:30px;
  padding:10px 20px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
  display: block;
}
.menu li a::after {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  width: 0;
  border-radius: 16px;
  background: #fafafa;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.menu li a:hover::after {
  width: 100%;
}
.resume{
  color:#fafafa;
  font-size: 16px;
  line-height: 1.75rem;
  text-decoration: none;
  margin-right:20px;
  padding:5px 20px!important;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 10px;
  border: 1px solid #fafafa;
}

.resume:hover{
  background-color: #fafafa;
  color: #121212;
}
.resume:hover::after{
  width: 0!important
}

/* Media queries for different screen sizes */
@media (max-width: 780px) {
  header {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  #header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
  }
  
  .logo {
    flex: 1; /* Use flex for logo */
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .resume{
    border: none;
  }
  
  .overlay.open {
    display: block;
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background: #121212;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 70px!important;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease;
  }
  
  .menu.open {
    right: 0;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    width: 100%;
    padding: 10px 0;
  }
  
  .menu li a {
    color: #fafafa;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #fafafa;
    color: #121212;
  }

  .menu li a:hover::after {
    width: 0;
  }
  
  .toggle-button {
    display: block; /* Display the toggle button */
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fafafa;
    margin: 5px 0;
    transition: transform 0.3s ease;
  }
  
  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.open:nth-child(2) {
    opacity: 0;
  }

  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  /* Adjust styles for medium-sized screens */
  .menu li a {
    font-size: 14px; /* Adjust font size */
  }
}