#content-wrapper{
    display: flex;
    height: 100%;
    margin: 0 auto 8rem;
    align-items: center;
    display: flex;
    height: 100%;
    max-width: 920px;
    padding: 0 40px;
    width: 100%;
}

@media (max-width: 780px) {
    #content-wrapper{
        width: 85%;
        /* margin: 0; */
    }
}